@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { @apply h-full overflow-hidden bg-surface-100; }

.card {
    @apply bg-white shadow-md
}

input {
    @apply outline-primary-500 bg-white border p-2 rounded-md w-full
}

@layer utilities {
    .caps-first,
    .caps-first * {
        text-transform: none;

        &::first-letter {
            text-transform: capitalize;
        }
    }
}

.underline-active {
	@apply relative flex justify-center;
}

.underline-active::after {
	@apply bg-primary-500;

	content: '';
    position: absolute;
    width: 10px;
    height: 3px;
    bottom: 0;
    /* border-radius: 50%; */
}

.no-underline {
    content: '';
    position: absolute;
    width: 0%;
    height: 0px;
    bottom: 0;
}